html{
  height: 100%;
/*  min-width:600px;        */
  width: 100% !important;  
  width:100%;
  height: auto;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body{
  font-family: 'Raleway', sans-serif;
  min-width: 300px;
  width: 100%;
  height: auto;
  display: table;
}

.navbar-brand {
  font-size: 40px;
  font-family: 'Righteous', cursive;
}

#brand{
  text-align: left;
  font-size: 60px;
  font-family: 'Righteous', cursive;
  margin-top: 30px;
  padding-left: 150px;
  color: #93fc74;
}

#brand:hover{
  text-decoration: none;
}

.container{
  width: 90%;
  min-width: 380px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.nav-item{
  margin-left:5px;
  margin-right: 5px;
  text-align: center;
}

.top{
  background-image: url(../img/wall.jpg);
  width: 100%;
  height: 100vh;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
}

.jumbotron{
  padding: 30px;
  background: rgba(0,0,0, 0.8);
  color: white;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}
.btn-primary{
  background-color: #93fc74;
  border: none;
  text-shadow: none;
  color: black;
}

.btn-primary:hover{
  background-color: rgba(255, 255, 255, 1);
  color: black;
  text-shadow: none;
}

.navbar-light .navbar-nav .nav-link{
  color: white;
  font-size: 1.1em;
  /*  transition: transform .5s;*/
  text-shadow: 0px 2px 2px rgba(0,0,0,0.4),
    0px 4px 6px rgba(0,0,0,0.1),
    0px 9px 11px rgba(0,0,0,0.1);
  transition: 0.5s;
}

.navbar-light .navbar-nav .nav-link:hover{
  /*
  transform: scale(1.2);
  transform-origin: bottom;
  */
  color: #93fc74;
  transform: scale(1.2);
  transform-origin:center;
  
}

.navbar-light .navbar-brand{
  color: #93fc74;
  /*  transition: transform .7s;*/
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
  margin-right: 35%;
  transition: 0.5s;
}

.navbar-light .navbar-brand:hover{
  /*
  transform: scale(1.1);
  transform-origin:center;
  */
  color: white;
  /*  color: #93DDE6;*/
  /*
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
  */
}

.navbar-light .navbar-toggler-icon {
  background-image: url(../img/white.svg);
}

.nav navbar-nav navbar-right{
  display: inline;
  min-width: 161px;
  max-height: 42px;
}

#profileImage{
  width: 200px;
  height: 200px;
  margin: auto;
  margin-top:80px;
  padding-top: 20px;
  border-radius: 50%; 
  background-image: url(../img/profile.JPG);
  background-size: cover;
  transition: transform .7s;
}

#profileImage:hover{
  transform: scale(1.2);
  transform-origin:center;
}

.work{
  height: 100vh;
  max-height: inherit;
  padding-top: 50px;
  position: relative;
  background-color: #fffbf5; 
}


.work-title{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  height: 75px;
  background-color: white;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;;
}

.work-title h2{
  width: 100%;
  margin: 0;
  font-size: 20px;
  display: inline-block;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#work1{
  background: url(../img/design.jpg);
  background-size: cover;
  margin-top: 5px;
  margin-bottom: 5px;
}

#work2{
  background: url(../img/frontend.jpg);
  background-size: cover;
  margin-top: 5px;
  margin-bottom: 5px;
}
#work3{
  background: url(../img/app.jpg);
  background-size: cover;
  margin-top: 5px;
  margin-bottom: 5px;
}
#work4{
  background: url(../img/photography.jpg);
  background-size: cover;
  margin-top: 5px;
  margin-bottom: 5px;
}

.animation{
  margin: 0;
}

.about{
  height: 100vh;
  width: 100%;
  position: relative;
  background: url(../img/saigon.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  padding-top:50px;
  min-width: 400px;
  margin: auto;
}

#highlight{
  background: black;
  background-size: cover;
  height: 300px;
  width: 100%;
  z-index: 2;
  background-position: center;
}

.contact{
  height: 250px;
  background: #212121;
  bottom: 0;
  width: 100%;
  color: white;
}

#right{
  float: left;
  width: 50%;
  display: inline;
  height: 250px;
  text-align: left;
  padding-left: 50px;
  padding-top: 50px;
}

#left{
  float: left;
  width: 50%;
  display: inline;
  display: block;
  height: 250px;
  padding-top: 30px;
}

#slogan{
  margin-top: 10px;
  padding-left: 150px;
  font-size: 18px;
}

#footer{
  height: 50px;
  float: right;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  background: white;
  font-weight: 100;
  font-size: 12px;
  color: black;
  padding-bottom: 0;
}

#navbar{
  position: fixed;
  top: 0;
  width: 100%;
  display:block;
  transition: top 0.7s;
  height: 80px;
  background: black;
  z-index: 2;
}

.navbar-toggler{
  border: none;
}

.row{
  margin: auto;
}

.col-sm.interest{
/*  border: 0.1px solid rgba(0,0,0, 0.5);*/
  cursor: pointer;
  margin-left: 6px;
  margin-right: 6px;
  height: 380px;
  padding: 0;
  transition: transform .5s;
  color: white;
  text-align: center;
  display: inline;
  border-radius: 25px;
  box-shadow:  0 0 10px  rgba(0,0,0,0.6);
      -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
      -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
      -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
}

.title{
/*
  margin-top: 50px;
  margin-bottom: 5px;
*/
  text-align: center;
  font-size: 60px;
  font-weight:300;
  color: black;
  /* text-shadow: 0px 4px 3px rgba(147, 252, 116, 0.4),
    0px 8px 13px rgba(147, 252, 116, 0.1),
    0px 18px 23px rgba(147, 252, 116, 0.1); */
}

.col-sm:hover{
  transform: scale(0.95);
  transform-origin:center;
}

.navbar-collapse{
  background: rgba(0, 0, 0, 0.9);
  min-width: 473px;
}

.drink{
 width : 550px;
 height: 550px;
 margin-top: 50px;
 margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
/* background: blue;    */
}

.tool{
  width: 100%;
  height: 100vh;
  background-color: #fffbf5;
  position: relative;
}

.col-sm.tools{
  cursor: pointer;
  margin-left: 6px;
  margin-right: 6px;
  height: 40vh;
  width: 200px;
  padding: 0;
  transition: transform .5s;
  color: white;
  text-align: center;
}

.square {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#square1{
  background: url(../img/react.png);
  background-size: cover;
}

#square2{
  background: url(../img/firebase.png);
  background-size: cover;
}

#square3{
  background: url(../img/nodejs-512.png);
  background-size: cover;

}

.project{
  width: 100%;
  height: 100vh;
  background-color: #fffbf5
}

.title{
  font-family: montserrat,Sans-serif;
    font-size: 4.9vw;
    font-weight: 700;
}

#main{
  width: 250px;
  height: 250px;
  background: url(../img/profile.JPG);
  background-size: cover;
  position: absolute;
  margin: auto;
  margin-top: 150px;
  margin-left: 150px;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  box-shadow:  0 0 10px  rgba(0,0,0,0.6);
      -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
      -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
      -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
}

.content{
  /* border: 0.5px solid #93fc74; */
  height: 170px;
  width: 170px;
  float: left;
  background: rgb(33, 33, 33);
  border-radius: 50%;
  text-align: center;
  opacity: 0.9;
}

h3{
  margin-top: 70px;
  color: #93fc74;
}

#item-1{
  position: absolute;
  margin-left: 200px;
  margin-top: 200px;
  transition: transform 0.6s;
}

.item-1{
  transform: translate(-200px, -200px);
  transform-style: flat;
}

#item-2{
  margin: auto;
  position: absolute;
  margin-left: 200px;
  margin-top: 200px;
  transition: transform 1.8s;
}

.item-2{
  transform: translate(200px, -200px);
  transform-style: flat;
}

#item-3{
  margin: auto;
  position: absolute;
  margin-left: 200px;
  margin-top: 200px;
  transition: transform 1s;
}

.item-3{
  transform: translate(-200px, 200px);
  transform-style: flat;
}

#item-4{
  margin: auto;
  position: absolute;
  margin-left: 200px;
  margin-top: 200px;
  transition: transform 1.4s;
}

.item-4{
  transform: translate(200px, 200px);
  transform-style: flat;
}

/************************ Animation **********************/

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.welcome {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.neon {
  font-family: neon;
    color: #93fc74;
    font-size: 9vw;
    line-height: 9vw;
    text-shadow: 0 0 3vw #93fc74;
}

.flux {
  font-family: neon;
  color: #426DFB;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #2356FF;
}

.neon {
  animation: neon 2s ease infinite;
  -moz-animation: neon 2s ease infinite;
  -webkit-animation: neon 2s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #28a745, 0 0 3vw #28a745, 0 0 10vw #28a745, 0 0 10vw #28a745, 0 0 0.4vw #FED128, 0.5vw 0.5vw 0.1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 0.5vw #1e7e34, 0 0 1.5vw #1e7e34, 0 0 5vw #1e7e34, 0 0 5vw #1e7e34, 0 0 0.2vw #1e7e34, 0.5vw 0.5vw 0.1vw #40340A;
    color: #806914;
  }
}

.flux {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}


